{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">


<html lang="en" ng-app="yamzam">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<script type="text/javascript"
  src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script type="text/javascript"
  src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js">
</script>
<script type="text/javascript"
  src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js">
</script>
<script type="text/javascript"
  src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js">
</script>
<script type="text/javascript"
  src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-cookies.js">
</script>
<script type="text/javascript"
  src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.5/angular-strap.min.js">
</script>

<script type="text/javascript" src="{% static 'lib/angular-strap.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives.js' %}"></script>
<script type="text/javascript" src="{% static 'js/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filters.js' %}"></script>

<!-- Navbar
================================================== -->

<div class="navbar navbar-default navbar-inverse" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Yamzam</a>
  </div>
  <ul class="nav navbar-nav">
    <li data-match-route="/?(navbar)?"><a href="#/">Home</a></li>
    <li data-match-route="/profile"><a href="#/profile">Profile</a></li>
    <li data-match-route="/manage"><a href="#/manage">Manage</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li ng-show="currentUser.is_active === true">
        <a href="/logout">Sign off</a>
    </li>
    <li ng-show="currentUser.is_active !== true">
        <a href="/login">Sign in</a>
    </li>
  </ul>
</div>

<div ng-view></div>

</body>
</html>
