
<div class="jumbotron masthead">
  <div class="container">
    <h1>Yamzam</h1>
    <p>Get your information out there</p>
    <div class="panel panel-default" ng-show="!currentUser.is_active">
      <div class="panel-body">
          <form role="form" action="/login/" method="post" accept-charset="UTF-8">
            <div class="form-group">
              <label for="inputUsername">Username</label>
              <input type="text" class="form-control" id="inputUsername" placeholder="MaryB">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>
    </div>
    <div class="panel panel-default" ng-show="currentUser.is_active">
        <ul>
          <li> <a href="/#/profile">Profile</a> </li>
          <li> <a href="/#/manage">Manage</a> </li>
          <li> <a href="/logout">Sign off</a> </li>
        </ul>
    </div>
  </div>
</div>
