<div class="container">
    <div class="row">
        <div class="well span10">
            <div class="page-header">
                <H1>Manage emails
                    <small>for {[{ currentUser.username }]}</small>
                </H1>
            </div>
        </div>
        <div class="span10">
        <table class="table table-striped table-hover">
            <tbody>
                 <tr>
                   <th scope="col" title="Index">Index</th>
                   <th scope="col" title="Subject">Subject</th>
                   <th scope="col" title="Date">Date</th>
                   <th scope="col" title="Imported">Imported</th>
                 </tr>
                 <tr ng-repeat="email in emails" ng-click="selectEmail(email)">
                     <td>{[{email.index}]}</td>
                     <td>{[{email.subject}]}</td>
                     <td>{[{email.date}]}</td>
                     <td>{[{email.imported}]}</td>
                 </tr>
             </tbody>
        <table>
        <div class="span10" ng-show="selectedEmail">
            <h1>Selected {[{selectedEmail}]}</h1>
        </div>
    </div>
</div>


