<div class="container">
    <div class="row">
        <div class="well span10">
            <div class="page-header">
                <H1>Edit profile
                    <small>for {[{ currentUser.username }]}</small>
                </H1>
            </div>
        </div>
    </div>
    <div class="span12">
        <form role="form" class="form-horizontal">
            <fieldset>
            <h3>Personal info</h3>
            <div class="form-group">
              <label for="input_email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="input_email" ng-model="currentUser.email">
              </div>
              <label for="input_first_name" class="col-sm-2 control-label">First Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input_first_name" ng-model="currentUser.first_name">
              </div>
              <label for="input_last_name" class="col-sm-2 control-label">Last Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input_last_name" ng-model="currentUser.last_name">
              </div>
            </div>
            </fieldset>
            <fieldset>
            <h3>Wordpress info</h3>
            <div class="form-group">
              <label for="input_wp_url" class="col-sm-2 control-label">URL</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input_wp_url" ng-model="currentUser.wp_url">
              </div>
              <label for="input_wp_username" class="col-sm-2 control-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input_wp_username" ng-model="currentUser.wp_username">
              </div>
              <label for="input_wp_password" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="input_wp_password" ng-model="currentUser.wp_password">
              </div>
            </div>
            </fieldset>
            <fieldset>
            <h3>Gmail info</h3>
            <div class="form-group">
              <label for="input_gmail_username" class="col-sm-2 control-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input_gmail_username" ng-model="currentUser.gmail_username">
              </div>
              <label for="input_gmail_password" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="input_gmail_password" ng-model="currentUser.gmail_password">
              </div>
            </div>
            </fieldset>
            <fieldset>
                <div class="control-group">
                    <div class="controls col-sm-10">
                        <button type="submit" ng-click="submitUserProfile()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

